:root {
    --brown: #1D0605;
    --secondary_brown: #3b200b;
    --light-brown: #fae2cb;
    --yellow: #f59a1b;
    --red: #f43127;
    --white: #ffffff;
    --secondary_white: #faf3f2;
    --family_one: 'Lato', sans-serif;
    --family_two: 'Lilita One', cursive;
    font-family: var(--family_one);
    scroll-behavior: smooth;
}

.flex {
    display: flex;
}

.align-xy {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.card {
    box-shadow: 0 4px 40px;
    border-radius: 10px;
    background-color: var(--secondary_white);
}

.yellow-bg {
    background-color: var(--yellow);
    padding: 1.5px;
    border-radius: 8.3px;
}

.red-btn {
    width: max-content;
    color: var(--white);
    background-color: var(--red);
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.opacity-ninety {
    opacity: 90%;
}

.opacity-sixtynine {
    opacity: 69%;
}

html {
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--secondary_white);
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

h2,
h3 {
    font-family: var(--family_two);
    margin-block-start: 0;
    margin-block-end: 0.31em;
}

h1,
h2,
h3:not(#titulo-oferta-um),
.home-content,
.promocao-main-container>article>div>div>p,
.card-item,
.small-oferta,
.cardapio-main-container article>div:first-of-type p,
.card-comentario div div,
.instagram-main-container,
.card-contato span p,
.localizacao-main-container p {
    color: var(--brown);
}

.navbar {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100vw;
    height: 63px;
    font-size: 18px;
}

.navbar:before {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.navbar a:hover, footer a:hover{
    font-weight: 700;
}

.navbar a {
    color: #635352;
    margin: 0 0.5em;
}

.navbar h1 {
    margin: 0 1.689em 0 0;
    align-items: baseline;
    font-size: 1.609em;
    font-weight: 400;
}

.navbar h1 span span {
    margin: 0 0 0 0.116em;
    font-weight: 900;
}

.nav-social {
    margin: 0 1.667em 0 5.556em;
}

.nav-social-logo {
    height: 1.313em;
    max-width: 1.5em;
}

.nav-social .spin{
    height: 140%;
    border-left: 1px solid rgb( 181, 11, 4);
}

.contact-btn {
    display: inline-flex;
    align-items: center;
    background-color: var(--yellow);
    height: 1.889em;
    padding: 0 1.111em;
    border-radius: 4px;
}

.nav-social .contact-btn {
    color: black;
    font-size: 0.889em;
}

.contact-btn img {
    margin-right: 0.444em;
}

.home-container {
    width: 100%;
    height: 34em;
    background-image: url('../assets/banner-hero.png');
    background-size: cover;
    background-position: center;
}

.home-content {
    width: max-content;
    height: 34rem;
    justify-content: center;
    position: relative;
    left: -19.6%;
    font-size: 22.8px;
}

.home-content p:first-of-type {
    font-weight: 700;
}

.home-content p :nth-child(1) {
    font-weight: 900;
}

.home-content :nth-child(2) {
    color: var(--secondary_brown);
    font-size: 3.406em;
    font-weight: 400;
    margin: 0;
}

.home-content :nth-child(2) :first-child {
    color: var(--yellow);
}

.home-content p:nth-of-type(2) {
    color: rgba(29, 6, 5, 0.69);
    margin-bottom: 0.439em;
}

.home-content> :last-child {
    margin: 0.614em 0 0;
}

.home-container .card {
    position: relative;
    top: -2.07em;
    width: 60vw;
    padding: 0.658em;
}

.card .spin {
    height: 5.188em;
    margin: 0 15px;
    border-left: 2px solid rgba(73, 46, 21, 0.15);
}

.card-item {
    width: 290px;
    max-height: 66px;
}

.card-item img,
.contato-main-container .card-contato img {
    height: 1.875em;
    width: 1.875em;
    background-color: var(--light-brown);
    padding: 0.938em;
    border-radius: 50%;
    margin: 0 1.125em 0 0;
}

.promocao-main-container {
    padding: 131px 0 0 0;
}

.promocao-main-container article {
    width: min-content;
}

.promocao-main-container>article>div>h2 {
    font-size: 2em;
}

.promocao-grid {
    display: grid;
    justify-content: center;
    grid-template-rows: 201px 201px;
    grid-template-columns: 754px 371px;
    gap: 20px;
    margin: 16px 0 64px 0;
}

.promocao-grid h3 {
    margin-block-end: 0;
}

.promocao-grid div p:not(.hoje) {
    font-size: 1.125em;
}

.oferta-um {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    color: var(--white);
}

.oferta-um img {
    height: 422px;
}

.oferta-um h3 {
    font-size: 1.563em;
}

.oferta-um div:first-of-type {
    position: relative;
    top: -97%;
    left: 3%;
}

.hoje {
    font-size: 2.625em;
    line-height: 40px;
    font-family: var(--family_two);
}

.oferta-um div:last-of-type {
    position: relative;
    bottom: 33%;
    left: 84.3%;
    width: max-content;
}

.oferta-um div:last-of-type p:first-of-type {
    font-size: 1.438em;
}

.small-oferta {
    position: relative;
    top: -95%;
    left: 5%;
    width: max-content;
}

.small-oferta h3 {
    font-size: 1.375em;
}

.oferta-dois {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
}

.oferta-tres {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
}

.promocao-main-container article> :nth-child(3)>div:first-of-type,
.contato-main-container article> :last-child {
    width: 100%;
    max-width: 570px;
    background-color: var(--red);
    padding: 20px;
    border-radius: 10px;
}

.promocao-main-container article> :nth-child(3) img,
.red-card-image-container {
    box-sizing: border-box;
    width: 94px;
    height: 94px;
    background-color: rgba(29, 6, 5, 0.2);
    padding: 15px;
    border-radius: 50%;
    margin: 0 18px 0 0;
}

.promocao-main-container article> :nth-child(3) h3 {
    font-size: 1.563em;
}

.promocao-main-container article> :nth-child(3)>div:first-of-type p {
    color: rgba(255, 255, 255, 0.85);
    margin-block-end: 0.31em;
}

.promocao-main-container article> :nth-child(3) .spin {
    height: 81px;
    margin: 0 15px;
    border-left: 1px solid rgba(29, 6, 5, 0.4);
}

.promocao-main-container article> :last-child {
    height: 132px;
}

.promocao-main-container article> :last-child p:first-of-type {
    font-size: 1.125em;
}

.promocao-main-container article> :last-child>div:last-of-type {
    justify-content: center;
    margin-left: 30px;
}

.promocao-main-container article> :last-child>div:last-of-type p:last-of-type {
    font-family: var(--family_two);
    font-size: 1.75em;
    color: var(--red);
}

.cardapio-main-container {
    padding: 44px 0 0;
    margin: 20px 0 0;
}

.cardapio-main-container article>div:first-of-type {
    background-image: url('../assets/banner-menu.png');
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 575px;
    float: left;
}

.cardapio-main-container article>div:first-of-type> :first-child {
    width: max-content;
    height: 100%;
    position: relative;
    left: 12%;
    justify-content: center;
    margin: 0 0 0 10px;
}

.cardapio-main-container article>div:not(:nth-of-type(2)) h2 {
    color: var(--secondary_brown);
    font-size: 2.563em;
}

.cardapio-main-container article>div:first-of-type span.red-btn {
    margin: 18px 0 0;
}

.cardapio-main-container article>div:nth-of-type(2) {
    width: 50%;
    height: 575px;
    background-color: var(--secondary_brown);
    justify-content: center;
}

.cardapio-main-container article>div:nth-of-type(2)>* {
    margin: 0 30px 0 30px;
}

.cardapio-main-container article>div:nth-of-type(2)>div h2 {
    color: var(--yellow);
    font-size: 2em;
    margin-bottom: 15px;
}

.cardapio-main-container article>div:nth-of-type(2) div:not(:first-child) {
    max-width: 570px;
}

.nome-valor-prato {
    align-items: center;
    font-size: 1.25em;
    font-family: var(--family_two);
    color: var(--secondary_white);
}

.nome-valor-prato p {
    min-width: max-content;
}

.nome-valor-prato :nth-child(2) {
    width: 100%;
    border-top: 3px dotted;
    margin: 0 5px;
}

.info-prato {
    max-width: 470px;
    color: var(--white);
    margin: 0 0 32px;
}

.cardapio-main-container article>div:nth-of-type(3) {
    margin: 72px 0 128px 0;
    height: 455px;
    width: 100%;
}

.cardapio-main-container article>div:nth-of-type(3) div {
    margin: 126px 0 0 33px;
    max-width: 479px;
}

.cardapio-main-container article>div:nth-of-type(3) img {
    max-width: 570px;
    height: 455px;
}

.cardapio-main-container article>div:nth-of-type(3) .red-btn {
    margin: 20px 0 20px;
}

.comentarios-main-container {
    padding: 128px 0 0;
}

.comentarios-main-container article {
    width: 1145px;

}
.comentarios-main-container article>div:nth-of-type(2) {
    overflow: scroll;
    scroll-behavior: smooth;
    width: 960px;
    height: 220px;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
}

.comentarios-main-container article>div:nth-of-type(2)::-webkit-scrollbar {
    display: none;
}

.comentarios-main-container article>div:nth-of-type(2){
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }


.comentarios-main-container h2 {
    font-size: 1.938em;
}

.comentarios-container {
    margin:0 0.86em 0;
    gap: 0.86em;
}

.comentarios-main-container .card-comentario {
    width: 300px;
    height: 160px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(60, 35, 13, 0.1);
    filter: drop-shadow(0px 4px 8px rgba(179, 155, 132, 0.5));
    padding: 0.625em;
    user-select: none;
    box-sizing: border-box;
    justify-content: center;
}

.carrosel-main-container {
    margin: 16px;
}

.carrossel .spin {
    width: 46px;
    border-top: 4px solid var(--white);
    margin-left: 5px;
    z-index: 1;
    cursor: pointer;
}

.carrossel .carrossel-item.active{
    border-top-color: #FFAD0D;
}

#main-container-comentarios > * {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.comentarios-main-container .card-comentario>p {
    color: #635352;
    margin: 0 0 13px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.comentarios-main-container .card-comentario div div {
    justify-content: center;
    margin: 0 0 0 8px;
}

.comentarios-main-container .card-comentario div p:first-of-type {
    font-family: var(--family_two);
    font-size: 1.125em;
}

.comentarios-main-container .card-comentario p:nth-of-type(2) {
    font-size: 0.75em;
}

.comentarios-main-container .card-comentario img {
    width: 3.125em;
    height: 3.125em;
    border-radius: 50%;
}

.instagram-main-container {
    margin: 128px 0 0;
}

.instagram-main-container div {
    width: 100%;
    margin: 1em 0 0;
    overflow: hidden;
}

.instagram-main-container img {
    width: min-content;
    overflow: hidden;
    background-color: var(--yellow);
}

.instagram-main-container .marquee {
    background-color: var(--yellow);
    font-family: var(--family_two);
    font-size: 1.75em;
    white-space: nowrap;
    padding: 0.313em;
}

.contato-main-container {
    padding: 68px 0 64px 0;
}

.contato-main-container article {
    width: fit-content;
}

.main-image-contato {
    margin: 0 29px 0 0;
}

.card-contato {
    background-color: var(--white);
    border-radius: 10px;
    margin: 0 0 8px;
    padding: 10px;
}

.card-contato span {
    justify-content: center;
}

.card-contato h2 {
    font-size: 20px;
}

.card-contato .spin,
.contato-main-container article> :last-child .spin {
    margin: 0 24px 0 0;
    border-left: 1px solid rgba(29, 6, 5, 0.4);
}

.contato-main-container article> :last-child .spin {
    height: 100%;
}

.contato-main-container article> :last-child {
    margin: 98px 0 0;
    height: 123px;
    max-width: none;
    box-sizing: border-box;
    align-items: center;
}

.contato-main-container article> :last-child p {
    color: var(--white);
}

.contato-main-container article> :last-child span:last-of-type {
    width: max-content;
    color: var(--red);
    background-color: var(--secondary_white);
    padding: 10px;
    border-radius: 5px;
    font-weight: 900;
    font-size: 1.125em;
    white-space: nowrap;
    margin-left: auto;
    cursor: pointer;
}

.localizacao-main-container h2 {
    font-size: 2em;
}
.localizacao-main-container div, #map {
    width: 100%;
    min-height: 207px;
}
#map {
    margin: 2em 0 0;
    border: unset;
}

.footer-main-container>div {
    width: 61vw;
}

.footer-items-container {
    width: 100%;
    justify-content: flex-end;
    padding: 30px 0 30px;
}

.footer-main-container div div:first-of-type {
    align-items: baseline;
    font-weight: 400;
    font-size: 1.813rem;
    color: var(--yellow);
}

.footer-main-container div>div:first-of-type span {
    font-weight: 900;
}

.footer-main-container div>div:first-of-type {
    margin: 0 auto 0 0;
}

.footer-main-container div div:nth-of-type(2) a {
    font-size: 1.125rem;
    color: var(--secondary_brown);
    margin-right: 1.938rem;
}

.footer-items-container>div:nth-of-type(3) {
    margin-left: 50px;
}

.footer-main-container> :last-child {
    padding: 0.75em 0 0.75em;
    font-size: 0.875em;
    font-weight: 700;
    color: #020E1F;
}

.footer-main-container> :last-child span {
    opacity: 30%;
    font-weight: 400;
}

footer .spin,
.cardapio-main-container :last-child.spin {
    display: inline-table;
    border-bottom: 1px solid rgba(29, 6, 5, 0.15);
    width: 61vw;
}

@media (max-width: 1299.98px) {
    .cardapio-main-container article>div:first-of-type> :first-child {
        left: unset;
    }

    .cardapio-main-container article>div:first-of-type> :first-child p {
        filter: drop-shadow(0 0 5px var(--light-brown));
        opacity: 1;
    }

    .footer-main-container div div:nth-of-type(2) a {
        margin-right: 11px;
    }

    .home-container .card {
        width: 85vw;
    }
}

@media (max-width: 1199.98px) {
    .navbar {
        font-size: 0.975em;
    }

    .navbar h1 {
        margin: 0 0.5em;
        font-size: 1.309em;
    }

    .nav-logo {
        height: 1.309em;
    }

    .home-content {
        left: -25%;
    }

    .promocao-main-container article,
    .comentarios-main-container article,
    .footer-items-container>div:nth-of-type(3) {
        justify-content: center;
    }

    .promocao-grid {
        width: max-content;
        grid-template-rows: 141px 141px;
        grid-template-columns: 554px 260px;
    }

    .promocao-grid img {
        width: 100%;
        height: 100%;
    }

    .oferta-um div:last-of-type {
        top: -45%;
        left: 80%;
    }

    .cardapio-main-container article>div:nth-of-type(3) div,
    .comentarios-main-container article {
        width: min-content;
    }

    .cardapio-main-container article>div:nth-of-type(3) img {
        width: 490px;
    }


    .main-image-contato {
        width: 450px;
    }

    .contato-main-container article>div:first-of-type>div {
        max-width: 400px;
    }

    .footer-main-container div div:first-of-type p {
        font-size: 18px;
    }

    .footer-items-container>div:nth-of-type(3) {
        margin-left: 25px;
    }
}

@media (max-width: 991.98px) {
    :root {
        font-size: 14.5px;
    }

    .navbar .contact-btn {
        padding: 0 0.5em;
        margin: 0 1em 0 0;
    }

    .home-content {
        left: unset;
        font-size: 20px;
    }

    .home-content :last-child {
        margin-left: auto;
    }

    .card-item {
        height: 76px;
        max-height: unset;
        align-items: center;
    }

    .card-item div {
        height: 100%;
    }

    .promocao-grid {
        grid-template-rows: 141px 141px;
        grid-template-columns: 454px 260px;
    }

    .cardapio-main-container article>div:first-of-type,
    .cardapio-main-container article>div:nth-of-type(2) {
        float: unset;
        width: 100%;
        align-items: center;
    }

    .cardapio-main-container article>div:nth-of-type(3) {
        width: max-content;
        align-items: unset;
        margin: 72px auto 128px auto;
    }

    .cardapio-main-container article>div:nth-of-type(3) img,
    .main-image-contato {
        width: 390px;
    }

    .cardapio-main-container article>div:nth-of-type(3) div {
        margin: 0.6em 0 0;
    }

    .cardapio-main-container,
    .cardapio-main-container article>div:nth-of-type(3),
    .contato-main-container article>div,
    .footer-items-container,
    .footer-main-container,
    .footer-items-container>div:nth-of-type(2) {
        flex-direction: column;
    }
    .comentarios-main-container article>div:nth-of-type(2) {
        width: 80vw;
    }
    .comentarios-main-container .card-comentario {
        width: 250px;
    }
   .comentarios-main-container .card-comentario {
        height: 143px;
    }

    .contato-main-container article>div:nth-of-type(2) {
        width: 400px;
        height: min-content;
        align-items: center;
        text-align: center;
    }

    .contato-main-container article> :last-child .spin {
        border-left: unset;
        border-bottom: 1px solid rgba(29, 6, 5, 0.4);
        width: 105%;
        margin: 0.552em 0;
    }

    .contato-main-container article> :last-child p {
        margin: 1.103em 0;
    }

    .contato-main-container article> :last-child span:last-of-type {
        margin-left: unset;
        width: 80%;
    }

    .nav-social,
    .footer-main-container div>div:first-of-type,
    .footer-items-container>div:first-of-type,
    .footer-items-container>div:nth-of-type(3) {
        margin: 0;
    }

    .footer-items-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }

    .footer-main-container div,
    .footer-items-container {
        justify-content: center;
        align-items: center;
    }

    .footer-items-container>div:first-of-type {
        grid-area: 1 / 1 / 2 / 2;
        padding: 0 0 0.652em 0;
    }

    .footer-items-container>div:nth-of-type(2) {
        display: flex;
        grid-area: 3 / 1 / 4 / 2;
        padding: 0.652em 0 0;
    }

    .footer-items-container>div:nth-of-type(2) a:not(:last-child) {
        margin: 0 0 0.952em 0;
    }

    .footer-items-container>div:nth-of-type(3) {
        display: flex;
        grid-area: 2 / 1 / 3 / 2;
        padding: 0.352em;
        border-top: 1px solid rgba(29, 6, 5, 0.15);
        ;
        border-bottom: 1px solid rgba(29, 6, 5, 0.15);
        ;
    }
    .footer-items-container>div:nth-of-type(3){
        gap: 5px;
    }
    .footer-main-container div div:nth-of-type(2) a{
        margin: 0;
    }
}

@media(max-width: 767.98px) {
    :root {
        font-size: 14px;
    }

    nav {
        margin: 0 1em 0 auto;
    }

    .navbar h1 {
        margin: 0 1.3em;
    }
    #nav-items {
        transition: 3s;
        -webkit-transition: 3s;
        position: fixed;
        display: flex; 
        flex-direction: column;
        font-size: 16px;
        right: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        z-index: -1;
        top: -100%;
    }

    #nav-items.active{
        transition: 1s;
        -webkit-transition: 1s;
        top: 62px;
    }
    #nav-items:before {
        transition: all 0.3s ease-in-out;
        content:"";
        position:absolute;
        z-index:-1;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
      .nav-links, .nav-social{
        width: max-content;
        margin: 10px 0;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    #nav-items .contact-btn{
        margin: 0;
    }
    .menu-hamburguer img {
        background-color: rgba(29, 6, 5, 0.15);
        padding: 5px;
        border-radius: 3px;
        margin-right: 1em;
    }
    .menu-hamburguer {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        background-color: rgba(29, 6, 5, 0.15);
        border-radius: 3px;
        padding: 5px;
        margin-right: 1em;
        gap: 5px;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
    }

    .menu-hamburguer .barra {
        display: block;
        width: 90%;
        height: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: var(--brown);
    }
    .menu-hamburguer.active .barra:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .menu-hamburguer.active .barra:nth-child(2) {
        opacity: 0;
    }
    .menu-hamburguer.active .barra:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .home-container {
        background-image: url('../assets/banner-hero\ -\ Copy.png');
    }

    .home-container article {
        justify-content: unset;
        align-items: unset;
    }

    .home-content {
        align-self: unset;
        justify-content: unset;
        top: 5rem;
        left: 3%;
    }

    .home-content :last-child {
        margin-left: unset;
    }

    .home-container .card {
        width: max-content;
        flex-direction: column;
        margin: 0 auto;
        top: -8em;
        padding-top: 1em;
    }

    .card-item {
        justify-content: center;
    }

    .card-item div {
        width: 150px;
        justify-content: center;
    }

    .card .spin {
        border-left: unset;
        height: unset;
        width: 85%;
        margin: 15px 0;
        border-bottom: 2px solid rgba(73, 46, 21, 0.15);
    }

    .promocao-main-container {
        padding: 110px 0 64px;
        margin: 170px 0 0;
    }

    .promocao-main-container article {
        align-items: center;
        justify-content: center;
    }

    .promocao-grid,
    .card-item div {
        display: flex;
        flex-direction: column;
    }

    .oferta-um,
    .oferta-dois,
    .oferta-tres {
        width: 27.143em;
        height: 14.571em;
    }

    .oferta-um div:last-of-type {
        top: -60%;
        left: 73%;
    }

    .promocao-main-container article> :last-child {
        width: 27.143em;
        flex-direction: column;
        height: unset;
    }

    .promocao-main-container article> :nth-child(3)>div:first-of-type {
        padding: 0.571em;
        align-items: center;
        box-sizing: border-box;
        margin: 0 0 4.571em 0;
    }

    .promocao-main-container article> :nth-child(3) img {
        margin: 0;
        width: 5.214em;
        height: 5.214em;
    }

    .promocao-main-container article> :nth-child(3) h3,
    .promocao-main-container article> :last-child p:first-of-type {
        font-size: 1.286em;
    }

    .promocao-main-container article> :last-child>div:last-of-type {
        margin: 0;
        text-align: center;
    }

    .promocao-main-container article> :nth-child(3)>div:first-of-type p {
        font-size: 1em;
    }

    .promocao-main-container article> :last-child>div:last-of-type p:last-of-type {
        font-size: 2.929em;
    }
    .carrossel {
        display: none;
    }
}

@media (max-width: 575.98px) {
    :root {
        font-size: 12px;
    }

    .home-container,
    .home-content {
        height: 855.46px;
    }

    .home-container {
        background-image: url('../assets/banner-menu-mobile.png');
    }

    .home-content {
        font-size: 15.6px;
    }

    .home-content {
        top: 6rem;
    }

    .cardapio-main-container article>div:first-of-type {
        background-image: url('../assets/cardapio-mobile.png');
        height: 19.833em;
    }

    .promocao-main-container article>div:first-of-type,
    .oferta-um,
    .oferta-dois,
    .oferta-tres,
    .promocao-main-container article> :last-child,
    .cardapio-main-container article>div:nth-of-type(3) img,
    .main-image-contato,
    .contato-main-container article>div:first-of-type>div,
    .contato-main-container article>div:nth-of-type(2),
    .instagram-main-container article>p:first-of-type {
        max-width: 85vw;
    }
}